.inner
  .row-fluid{"class" => "show-grid"}
    %h1 Statistics
	
    %h2 Data Quality
    %table{:border => "0"}
      %tr
        %th/
        %th Total
        %th # Matched
        %th # Unmatched
        %th % Matched
        %tr
          %tr
            %th Addresses
            %td= @stat.Addresses[:total]
            %td/
            %td/
            %td/
          %tr
            %th Cases
            %td= @stat.Cases[:total]
            %td= @stat.Cases[:matched]
            %td= @stat.Cases[:unmatched]
            %td= @stat.Cases[:percentageMatched]
          %tr
            %th Inspections
            %td= @stat.Inspections[:total]
            %td= @stat.Inspections[:matched]
            %td= @stat.Inspections[:unmatched]
            %td= @stat.Inspections[:percentageMatched]
          %tr
            %th Notifications
            %td= @stat.Notifications[:total]
            %td= @stat.Notifications[:matched]
            %td= @stat.Notifications[:unmatched]
            %td= @stat.Notifications[:percentageMatched]
          %tr
            %th Hearings
            %td= @stat.Hearings[:total]
            %td= @stat.Hearings[:matched]
            %td= @stat.Hearings[:unmatched]
            %td= @stat.Hearings[:percentageMatched]
          %tr
            %th Resets
            %td= @stat.Resets[:total]
            %td= @stat.Resets[:matched]
            %td= @stat.Resets[:unmatched]
            %td= @stat.Resets[:percentageMatched]
          %tr
            %th Judgements
            %td= @stat.Judgements[:total]
            %td= @stat.Judgements[:matched]
            %td= @stat.Judgements[:unmatched]
            %td= @stat.Judgements[:percentageMatched]
          %tr
            %th Maintenances
            %td= @stat.Maintenances[:total]
            %td= @stat.Maintenances[:matched]
            %td= @stat.Maintenances[:unmatched]
            %td= @stat.Maintenances[:percentageMatched]
          %tr
            %th Foreclosures
            %td= @stat.Foreclosures[:total]
            %td= @stat.Foreclosures[:matched]
            %td= @stat.Foreclosures[:unmatched]
            %td= @stat.Foreclosures[:percentageMatched]
          %tr
            %th Demolitions
            %td= @stat.Demolitions[:total]
            %td= @stat.Demolitions[:matched]
            %td= @stat.Demolitions[:unmatched]
            %td= @stat.Demolitions[:percentageMatched]
			  
    %h2 City Stats
    %table{:border => "0"}
      %tr
        %tr
          %th Hearings
          %td Guilty
          %td Reset
          %td Closed
        %tr
        %tr
          %th 
          %td=Hearing.count(:conditions => "hearing_status = 'guilty'")
          %td=Hearing.count(:conditions => "hearing_status = 'reset'")
          %td=Hearing.count(:conditions => "hearing_status = 'closed'")
        %tr
      %tr
        %tr
          %th Inspections
          %td Abated
          %td Violation WIP
          %td Violation Posted No WIP
          %td Violation Unoccupied
          %td Demolished
        %tr
        %tr
          %th 
          %td=Inspection.count(:conditions => "result = 'Abated'")
          %td=Inspection.count(:conditions => "result = 'Violation WIP'")
          %td=Inspection.count(:conditions => "result = 'Violation Posted No WIP'")
          %td=Inspection.count(:conditions => "result = 'Violation Unoccupied'")
          %td=Inspection.count(:conditions => "result = 'Demolished'")
        %tr
