<h1>Statistics#index</h1>
<p>Find me in app/views/statistics/show.html.erb</p>
<table border="0">
	<tr><th/><th>Total</th><th># Matched</th><th># Unmatched</th><th>% Matched</th><tr>
	<tr>
		<th>Addresses</th><td><%= Address.count %></td><td/><td/><td/>
	</tr>
	<tr>
		<th>Cases</th><td><%= Case.count %></td><td><%= Case.count(:conditions => "address_id is not null") %></td><td><%= Case.count(:conditions => "address_id is null") %></td><td><%= Case.count(:conditions => "address_id is not null").to_f / Case.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Inspections</th><td><%= Inspection.count %></td><td><%= Inspection.count(:conditions => "case_number is not null") %></td><td><%= Inspection.count(:conditions => "case_number is null") %></td><td><%= Inspection.count(:conditions => "case_number is not null").to_f / Inspection.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Notifications</th><td><%= Notification.count %></td><td><%= Notification.count(:conditions => "case_number is not null") %></td><td><%= Notification.count(:conditions => "case_number is null") %></td><td><%= Notification.count(:conditions => "case_number is not null").to_f / Notification.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Hearings</th><td><%= Hearing.count %></td><td><%= Hearing.count(:conditions => "case_number is not null") %></td><td><%= Hearing.count(:conditions => "case_number is null") %></td><td><%= Hearing.count(:conditions => "case_number is not null").to_f / Hearing.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Resets</th><td><%= Reset.count %></td><td><%= Reset.count(:conditions => "case_number is not null") %></td><td><%= Reset.count(:conditions => "case_number is null") %></td><td><%= Reset.count(:conditions => "case_number is not null").to_f / Reset.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Judgements</th><td><%= Judgement.count %></td><td><%= Judgement.count(:conditions => "case_number is not null") %></td><td><%= Judgement.count(:conditions => "case_number is null") %></td><td><%= Judgement.count(:conditions => "case_number is not null").to_f / Judgement.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Maintenances</th><td><%= Maintenance.count %></td><td><%= Maintenance.count(:conditions => "address_id is not null") %></td><td><%= Maintenance.count(:conditions => "address_id is null") %></td><td><%= Maintenance.count(:conditions => "address_id is not null").to_f / Maintenance.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Foreclosures</th><td><%= Foreclosure.count %></td><td><%= Foreclosure.count(:conditions => "address_id is not null") %></td><td><%= Foreclosure.count(:conditions => "address_id is null") %></td><td><%= Foreclosure.count(:conditions => "address_id is not null").to_f / Foreclosure.count.to_f * 100 %>%</td>
	</tr>
	<tr>
		<th>Demolitions</th><td><%= Demolition.count %></td><td><%= Demolition.count(:conditions => "address_id is not null") %></td><td><%= Demolition.count(:conditions => "address_id is null") %></td><td><%= Demolition.count(:conditions => "address_id is not null").to_f / Demolition.count.to_f * 100 %>%</td>
	</tr>
</table>