<h2><%= @case.case_number %></h2>
<h3>The most recent step was a <%= @case.most_recent_status.class %>, on <%= @case.most_recent_status.date.strftime('%e %B, %Y') %>.
<div class="case_hearings">

  <% unless @case.inspections.empty? %>
    <h4>Inspections</h4>
    <% @case.inspections.each do |i| %>
      <div class="inspection">
        <%= i.inspection_date %>
      </div>
  <% end %>

  <% unless @case.hearings.empty? %>
    <h4>Hearings</h4>
    <% @case.hearings.each do |h| %>
      <div class="hearing">
        <%= h.hearing_date %>
      </div>
  <% end %>      

  <% unless @case.resets.empty? %>
    <h4>Resets</h4>
    <% @case.resets.each do |r| %>
      <div class="reset">
        <%= r.reset_date %>
      </div>
  <% end %>

</div>
  <br>
  <%= @case.inspect %>
