.case-history
  -unless kase.nil?

    .case_number
      -unless kase.case_number.nil?
        %h5 Case Number: #{kase.case_number}

    .span13
      .classification
        %span{:class=>'badge-yellow'} Inspected?
      .status
        =image_tag('check_mark.png', :width => '20px')
      -unless kase.inspections.empty?
        .note
          -kase.inspections.each do |i|
            .inspection
              Property was inspected
              %b #{i.inspection_date.strftime("%m/%d/%Y")}
      -if kase.inspections.empty? && !kase.notifications.empty?
        .inspection
          No Data Available

    .span13
      -unless kase.notifications.empty?
        .classification
          %span{:class=>'badge-yellow'} Owner Notified?
        .status
          =image_tag('check_mark.png', :width => '20px')
        -unless kase.notifications.empty?
          .note
            -kase.notifications.each do |n|
              .notificaton
                The owner was notified on 
                %b #{n.date.strftime("%m/%d/%Y")} 
                that an administrative case is being brought against this property for violations of New Orleans Building Code.
        -if kase.notifications.empty? && !kase.hearings.empty?
          .notificaton
            No Data Available


    -unless kase.hearings.empty?
      .span13
        .classification
          %span{:class=>'badge-yellow'} Hearing Scheduled?
        .status
          =image_tag('check_mark.png', :width => '20px')
        .note
          -kase.hearings.each do |h|
            .hearing
              The case against this property #{h.date > Time.now ? 'will be' : 'was'} heard in a public hearing at 
              %b 10:00am 
              on 
              %b #{h.hearing_date.strftime("%m/%d/%Y")} 
              at New Orleans Courthouse, 1234 Perdido St. with an outcome of #{h.hearing_status}

    .span13                
      -if !kase.hearings.empty? && kase.judgement.nil?
        .classification
          %span{:class=>'badge-yellow'} Judgment Reached?
        .status 
          %b{:style=>"color:red"} Pending
        .note
          Hearings provide an opportunity for the property owner and other concerned citizens to bring evidence to help inform the judge’s decision. 
          A judgement will be posted shortly after the scheduled hearing date.

    -unless kase.judgement.nil?
      .span13
        .classification
          %span{:class=>'badge-yellow'} Judgment Reached?
        .status
          =image_tag('check_mark.png', :width => '20px')
        .note
          .hearing
            %t=kase.judgement.notes

    -unless kase.resets.empty?
      .span13
        .classification
          %span{:class=>'badge-yellow'} Resets
        .status
          =image_tag('check_mark.png', :width => '20px')
        .note
          .span4 
            -kase.resets.each do |r|
              .reset
                ="This case was reset on " << r.reset_date.strftime("%m/%d/%Y")


    -unless @address.resolutions.empty?
      .span13
        .classification
          %span{:class=>'badge-yellow'} Resolved?
        .status
          =image_tag('check_mark.png', :width => '20px')
        .note
          .span4
            -@address.resolutions.each do |r|
              .resolution
                This property was successfully demolished by #{r.program_name} 
                -# =r.date.strftime("%m/%d/%Y")
