%div{ :class => 'case-history' }
  .span13
    -unless @case.nil?
    
      %h3 Property History
      .case_number
        -unless @case.case_number.nil?
          %h5 Case Number: #{@case.case_number}

      .span13
        .classification
          %span{:class=>'badge-yellow'} Inspections
        .status
          =image_tag('check_mark.png', :width => '20px')
        -unless @case.inspections.empty?
          .note
            -@case.inspections.each do |i|
              .inspection
                Property was inspected
                %b #{i.inspection_date.strftime("%m/%d/%Y")}
        -if @case.inspections.empty? && !@case.notifications.empty?
          .inspection
            No Data Available
          
                

      .span13
        -unless @case.notifications.empty?
          .classification
            %span{:class=>'badge-yellow'} Notification
          .status
            =image_tag('check_mark.png', :width => '20px')
          -unless @case.notifications.empty?
            .note
              -@case.notifications.each do |n|
                .notificaton
                  The owner was notified on 
                  %b #{n.date.strftime("%m/%d/%Y")} 
                  that an administrative case is being brought against this property for violations of New Orleans Building Code.
          -if @case.notifications.empty? && !@case.hearings.empty?
            .notificaton
              No Data Available


      .span13
        -unless @case.hearings.empty?
          .classification
            %span{:class=>'badge-yellow'} Hearing
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            -@case.hearings.each do |h|
              .hearing
                The case against this property will be heard in a public hearing at 
                %b 10:00am 
                on 
                %b #{h.hearing_date.strftime("%m/%d/%Y")} 
                at New Orleans Courthouse, 1234 Perdido St.         
                =h.hearing_status
        -if !@case.hearings.empty? && @case.judgement.nil?
          .alert{:style => "clear: both; margin-top: 100px; color: black"}
            %h3
              Inspection Scheduled
            %p
              The Department of Code Enforcement is working to schedule a hearing of this property. The hearing date will be displayed here as soon as it is scheduled. 
                

      .span13
        -unless @case.judgement.nil?
          .classification
            %span{:class=>'badge-yellow'} Judgement
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            .hearing
              %t=@case.judgement.notes

      -unless @case.resets.empty?
        .span13
          .classification
            %span{:class=>'badge-yellow'} Resets
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            .span4 
              -@case.resets.each do |r|
                .reset
                  ="This case was reset on " << r.reset_date.strftime("%m/%d/%Y")


      -unless @address.resolutions.empty?
        .span13
          .classification
            %span{:class=>'badge-yellow'} Resolution
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            .span4
              -@address.resolutions.each do |r|
                .resolution
                  This property was successfully demolished by #{r.program_name} 
                  -# =r.date.strftime("%m/%d/%Y")