#address{"data-x" => @address.point.x, "data-y" => @address.point.y }
  %h2= @address.address_long
  .row
    #map.span6{:style => "height: 400px;"}
    #streetview.span_6
      %img{ :src => "http://maps.googleapis.com/maps/api/streetview?size=460x400&location=#{@address.point.y},%20#{@address.point.x}&fov=90&heading=235&pitch=10&sensor=false" }


  #h1 Address:
  %p="X: #{@address.point.x}"
  %p="Y: #{@address.point.y}"
  %p="Geopin: #{@address.geopin}"


  #h1 Case:

  #h1 Maintenance: